/* styling for Photos component to display the photos as flex */

.photos-flex-display {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.photo {
  max-width: 80%;
  margin: auto 15px;
}
